#zoom{
    text-align: center;
    width: 70px;
}

#row{
    text-align: center;
    width: 70px;
}

#col{
    text-align: center;
    width: 70px;
}

#top_tile{
    margin-top: 10px;
    /*margin-left: 65px;*/
}

#tile_container{
    text-align: center;
    width: 600px;
    height: 275px;
    border: solid blue;
    background-color: bisque ;
}

#tile_div{
    position: absolute;
    width: 257px;
    height: 257px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    border: solid red;
    float: left;
}


#button_div{
    position: absolute;
    margin-top: 5px;
    margin-left: 390px;
    width: 200px;
    height: 120px;
    border: solid red;
    text-align: center;
    /*float: left;*/
}
